body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.outer-box {
  padding: 1rem;
}

.form {
  display: flex;
	overflow:hidden;
	background:white;
	border-radius:10px;
}

.form-cell {
  padding: 1rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-cell div {
  padding: 8px;
}

.form label {
	font-size:14px;
	color:darkgray;
	cursor:pointer;
}

.form label,
.form input {
	float:left;
	clear:both;
}

.form input {
	margin:15px 0;
	padding:15px 10px;
	width:100%;
	outline:none;
	border:1px solid #bbb;
	border-radius:20px;
	display:inline-block;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
    -webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
}

.form input[type=text]:focus,
.form input[type="password"]:focus {
	border-color:cornflowerblue;
}

input[type=submit] {
	padding:15px 50px;
	width:auto;
	background:#1abc9c;
	border:none;
	color:white;
	cursor:pointer;
	display:inline-block;
	float:right;
	clear:right;
	-webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
}

input[type=submit]:hover {
	opacity:0.8;
}

input[type="submit"]:active {
	opacity:0.4;
}


.stat-row {
  display: flex;
  flex-direction: column;
}

.stat-row > div {
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stat-row > div:last-child {
  height: 100px;
}

.header-light {
  color: #787878;
  font-weight: 100;
}

.header-bold {
  color: #000;
  font-weight: 500;
}

.logo {
  height: 100px;
  width: 100px;
  float: left;
  margin-right: 1rem;
}



/* Checkbox */


.selectBox input {
	display: none;
}
.selectBox input:checked + label {
	border-color: rgba(0, 200, 83, 1.0);
	z-index: 1;
	box-shadow: 0 0 0 3px rgba(0, 200, 83, .1);
}
.selectBox input:checked + label:before {
	background: rgba(0, 200, 83, 1.0);
	box-shadow: 0 0 0 1px rgba(0, 200, 83, 1.0);
}
.selectBox label {
	border: 1px solid #eee;
	position: relative;
	padding: 15px 15px 15px 40px;
	cursor: pointer;
	font-weight: bold;
}
.selectBox label:before {
	content: '';
	width: 15px;
	height: 15px;
	box-shadow: 0 0 0 1px #ccc;
	border: 3px solid #fff;
	position: absolute;
	left: 15px;
	top: 50%;
	transform: translateY(-50%);
}
.selectBox label:hover {
	border-color: #999;
	z-index: 1;
}
.selectBox.radio label:before {
	border-radius: 100%;
}
.selectBoxGroup {
	display: flex;
	flex-wrap: wrap;
}
.selectBoxGroup .selectBox {
	margin-left: -1px;
}
.selectBoxGroup .selectBox:first-child {
	margin-left: 0;
}
@media screen and (max-width: 568px) {
	.selectBoxGroup {
		flex-direction: column;
   }
	.selectBoxGroup .selectBox {
		margin-left: 0;
   }
	.selectBoxGroup .selectBox label {
		width: 100%;
   }
}
.selectBoxGroup.underneath {
	flex-direction: column;
}
.selectBoxGroup.underneath .selectBox {
	margin-left: 0;
}
.selectBoxGroup.underneath .selectBox label {
	width: 100%;
}
.selectBoxGroup.rtl {
	direction: rtl;
}
.selectBoxGroup.rtl label {
	width: 100%;
	padding: 15px 40px 15px 15px;
	text-align: right;
}
.selectBoxGroup.rtl label:before {
	right: 15px;
}
